.messages {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  justify-content: space-between;
  margin: 15px;
}
.messages > p {
  background-color: #e5ddd5;
  font-size: medium;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  margin-right: auto;
}
.messages > small {
  color: gray;
  position: absolute;
  font-size: 8px;
  bottom: -5px;
  right: 0;
}

.messages__sender {
  margin-left: auto;
}

.messages__sender > .messages__photo {
  order: 1;
  margin: 15px;
}
.messages__photo {
  order: 0;
}
.messages__sender > p {
  background-color: #dcf8c6;
  color: black;
}
