.sidebar__chat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid darkgray;
  cursor: pointer;
}
.sidebar__chat:hover {
  background-color: #ebebeb;
  color: black;
}
.sidebarChat__info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}
.sidebarChat__info > small {
  position: absolute;
  top: 5px;
  right: 0;
}
